USE [FACULTAD]
GO
/****** OBJECT:  STOREDPROCEDURE [DBO].[TRAER_COMICS]    SCRIPT DATE: 31/10/2023 01:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [DBO].[TRAER_COMICS]
@ID INT = NULL
AS
BEGIN
	IF @ID IS NULL
	BEGIN
		SELECT * FROM PROYECTOLUG.COMICS
	END
	ELSE
	BEGIN
		SELECT * FROM PROYECTOLUG.COMICS c WHERE c.ID = @ID
	END

END

