USE [FACULTAD]
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_COMIC]    Script Date: 8/11/2023 16:15:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ELIMINAR_COMIC] 
@id int

	
AS
BEGIN TRAN TRAN_ELIMINAR_COMIC
	BEGIN TRY
		DELETE FROM ProyectoLUG.Comics where ID = @id
		COMMIT TRAN TRAN_ELIMINAR_COMIC
	END TRY
	BEGIN CATCH
		ROLLBACK TRAN TRAN_ELIMINAR_COMIC
	END CATCH

